<div class="weather-2 sombra">
    <div class="weather-2-header">
      <div class="row">
        <div class="col-sm-6 col-xs-6">
          <p>Crear Materias</p>
        </div>
        <div class="col-sm-6 col-xs-6 goright">
          <p class="small">{{ myDate | date:'yyyy-MM-dd' }}</p>
        </div>
      </div>
    </div>
    <div class="row data">        
        <div class="form-group">  
            <input  [(ngModel)]="name" class="form-control" placeholder="Nombre de Asignatura">
        </div>
          <div class="form-group text-right">
        <button type="button" class="btn btn-round btn-primary" (click)="createCourse()">Crear</button>
        </div>
    </div>
  </div>