<aside>
    <div id="sidebar" class="nav-collapse ">
      <ul class="sidebar-menu" id="nav-accordion">

        <li class="sub-menu">
          <a href="javascript:;">
            <i class="fa fa-users"></i>
            <span>Gestión de Usuarios</span>
            </a>
          <ul class="sub">
            <li><a [routerLink]="['/user/create']" >Crear Usuario</a></li>
            <li><a [routerLink]="['/user']" >Usuarios</a></li>
           </ul>
        </li>
        <li class="sub-menu">
          <a href="javascript:;">
            <i class="fa fa-book"></i>
            <span>Gestión Académica</span>
            </a>
          <ul class="sub">
     
            <li><a [routerLink]="['report']" >Reporte</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </aside>